/*.mainpage {

    /*padding: 5em;
    margin-right: 40px;
    width: 100%;
    cursor: pointer;
    font-size: 30px;
}*/

.mainpage table, th, td {
    border: 1px solid grey;
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
}

.mainpage table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
 .mainpage table tr:nth-child(even) {
    background-color: #ffffff;
  }
