.pageHeader {
    color: #333;
    text-align: center;
    text-decoration: underline;
    font-size: 48px;
}

.info {
    font-size: 24px;
    text-align: center;
}

.homeImage {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgNote {
    font-size: 20px;
    text-align: center;
}