<div>
    <div class="pageHeader">
        <p>Home Page</p>
    </div>
    <div class = "info">
        <p>ISE Factory Robotics ECE Senior Design Team</p>
        <p>Customer: VT ISE Department - Dr. Andrea L'Afflitto</p>
        <p>SME: Dr. Andrea L'Afflitto</p>
        <p>Mentor: Dr. Scot Ransbottom</p>
    </div>
    <img class="homeImage" src="assets/images/teamPicture.jpg">
    <div class="imgNote">
        <p>Yuqing Liu, Seth Rose, Teddy Gizachew, Robert Velasco, Steve Kim</p>
    </div>
</div>
