.side {
    width: 20%;
    position: fixed;
    background: #80aaff;
    height: 100%;
}

.select button {
    background:#0066ff;
    color: #000000;
    padding: 15px 15px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    float: left;
}

.rightdisp {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    width: 80%;
    float: right;
    /*background: #ccccff;*/
    /*height: 100%;*/
}

.select a {
    background: #ff0000;
    color: #fff;
}